.container {
    width: 50%;
}

h1 {
    text-align: center;
    justify-self: center;
    margin-bottom: 24px;
}

.planets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.planet-row {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 450px;

    p {
        font-size: 30px;
        font-weight: bold;
    }
}

.planet-icon {
    display: inline-block;
    animation-duration: var(--planet-spin-duration, 2s) !important;
}

.planet-icon--spin-reverse {
    animation-direction: reverse !important;
    -webkit-animation-direction: reverse !important;
}

i {
    font-size: 48px;
}

.planet-icon-container {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
}

.planet-name-container {
    flex: 1;
    text-align: left;
}
