.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

img:hover {
  border-color: yellow;
}

.nav-banner {
  width: 150px;
}

.dropdown-menu {
  background-color: black;
  border-style: double;
  border-color: yellow;
}

.dropdown-item {
  background-color: black;
  color: yellow;
  font-weight: bolder;
}

.dropdown-item:hover {
  background-color: black;
  color: yellow;
  font-weight: bolder;
}
