// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    background-image: url("https://c0.wallpaperflare.com/preview/267/964/934/stars-sky-night.jpg");
    color: yellow;
}

a {
    color: rgb(255, 196, 1);
    text-decoration: none;
}

a:hover {
    color:yellow;
    text-decoration:none;
    cursor:pointer;
}

ul {
    font-size: 30px;
}

p {
    font-size: 30px;
}

.text-box {
    margin: 25px;
    padding: 15px;
    background-color: black;
    color: rgb(255, 196, 1);
    border-style: double;
    border-color: yellow;
    border-radius: 10px;
}

h1, h2 {
    padding: 25px;
    font-size: 45px;
    font-weight: bolder;
}

.back-to {
    padding: 25px;
}

.box_container {
    display: flex;
    justify-content: center;
  }

.box_sign_up {
    font-weight: bolder;
    color: yellow;
    background-color: black;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    width: 335px;
    box-shadow: -1px 1px 3px white;
    font-size: 24px;
}

.btn {
    color: yellow;
    font-weight: bolder;
}

.btn:hover {
    color: black;
    font-weight: bolder;
    background-color: yellow;
}
