<div class="container">
  <h1>All Starships</h1>
  <div class="starships-container">
    <% @starships.each do |starship| %>
      <div class="starship-row">
        <div class="starship-icon-container">
          <i
            class="fa-solid <%= starship.icon_class %> <%= starship.shake_classes %> starship-icon"
            style="<%= starship.icon_style %>"
            aria-hidden="true"
          ></i>
        </div>
        <div class="starship-name-container">
          <p><%= starship.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
